################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoginJWT/bin/Debug
/LoginJWT/obj
/LoginJWT/LoginJWT.csproj.user
